body {
  background-image: url("/public/image/bg.jpeg");
  background-color: black;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width: 350px;
  border-radius: 16px;
  margin-top: 1rem;

}
.row{
  display: flex;
 
}